<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="RapidClubAdminWebClient">

<head>
  <meta charset="utf8" />
  <title>RapidClubAdmin Web Client</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <style type="text/css">
td {
    padding: 2px;
}
  </style>
</head>

<body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
  <script src="rapidClubAdminWebClient.js"></script>

  <div  ng-controller="TrainingsListCtrl">

  <div style="height:150px; width:600px;">
    <table>
      <tr>
        <td nowrap><b>Training</b></td>
        <td>{{trainingSelector.getSelectedTrainingTitle()}}</td>
      </tr>
      <tr>
        <td nowrap><b>Anzahl Teilnehmer</b></td>
        <td>{{trainingSelector.getSelectedTraining().training.partipiciantscount}}</td>
      </tr>
      <tr>
        <td nowrap><b>Status</b></td>
        <td>{{trainingSelector.getSelectedTrainingState()}}</td>
      </tr>
      <tr>
        <td nowrap><b>Best&auml;tigt durch</b></td>
        <td>{{userModel.getFullName(trainingSelector.getSelectedTraining().training.checkedByUser)}}</td>
      </tr>
      <tr>
        <td nowrap><b>Best&auml;tigt am</b></td>
        <td>{{helpers.formatDateTimeGerman(trainingSelector.getSelectedTraining().training.checkedDate)}}</td>
      </tr>
      <tr>
        <td nowrap><b>Notizen</b></td>
        <td>
          <div ng-switch on="trainingSelector.getSelectedTraining().training.notes">
            <textarea rows="5" cols="70" disabled>{{trainingSelector.getSelectedTraining().training.notes}}</textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
            <td ng-repeat="heldby in trainingSelector.getSelectedTrainingHeldbytrainers()">
              <p style="margin-left:20px;" align="center">{{heldby.role}}</p>
              <img style="margin-left:20px;" width="70px" height="70px" src="img/person.png"/>
              <p style="margin-left:20px;" align="center">{{trainerModel.getFullName(heldby.trainer)}}</p>
            </td>
          </tr>
        </td>
      </tr>
    </table>
  </div>

  <div style="width:600px; height:200px; overflow:auto; border:1px solid #000000; margin-left:5px;">
  <table width="580px" border="0" cellspacing="1" cellpadding="2">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Datum</th>
        <th>Beginn</th>
        <th>Training</th>
        <th>Zustand</th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-style="trainingSelector.getSelectedTraining().training.id === trainingForTable.training.id
          && {'background-color': '#D0E0FF'} || {'background-color': 'white'}"
        ng-init="trainingSelector.setData(trainingslistModel.getTrainingslist())"
        ng-click="trainingSelector.setSelectedTraining(trainingForTable)"
        ng-repeat="trainingForTable in trainingslistModel.getTrainingslist()">
        <td>{{helpers.dayOfWeekShort(trainingForTable.trainingdate.dayofweek)}}</td>
        <td>{{helpers.formatDateGerman(trainingForTable.training.date)}}</td>
        <td>{{trainingForTable.trainingdate.timestart}}</td>
        <td>{{trainingForTable.trainingdate.name}}</td>
        <td style="text-indent:10px;">
          <div ng-switch on="trainingForTable.training.state">
            <div ng-switch-when="asplanned"><img src="img/training0Default.png"></div>
            <div ng-switch-when="modified"><img src="img/training1InWork.png"></div>
            <div ng-switch-when="checked"><img src="img/training2Checked.png"></div>
            <div ng-switch-when="cancelled"><img src="img/training3Cancelled.png"></img></div>
            <div ng-switch-when="closed"><img src="img/training4Closed.png"></img></div>
            <div ng-switch-default>??{{trainingForTable.training.state}}??<div>
          </div>
        </td>
       </tr>
    </tbody>
  </table>
  </div>

  </div>

</body>

</html>
