td {
  padding: 2px;
}

.ps-container>.ps-scrollbar-y-rail {
  width: 15px;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
  width: 15px;
}

#trainingstable {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 250px;
  border: 1px solid #000000;
  margin-left: 5px;
}
