<div class="training-edit-area" ng-class="editableTraining || mayReopen ? 'may-edit' : ''">
	<table class="table">
		<tbody class="first-column-bold">
			<tr>
				<td>Training</td>
				<td>
					{{ selectedTraining.dayofweek | shortDayOfWeek }},
					{{ selectedTraining.date | formatDate }},
					{{ selectedTraining.name }},
					{{ selectedTraining.location }}
				</td>
			</tr>
			<tr>
				<td>Anzahl Teilnehmer</td>
				<td ng-if="!editableTraining">{{ selectedTraining.partipiciantscount }}</td>
				<td ng-if="editableTraining"><input type="number" ng-model="editableTraining.partipiciantscount"></td>
			</tr>
			<tr>
				<td>Status</td>
				<td>{{ selectedTraining.state | stateShortDescription }}</td>
			</tr>
			<tr>
				<td>Bestätigt durch</td>
				<td>{{ selectedTraining.checkedByUser | resolveUser }}</td>
			</tr>
			<tr>
				<td>Bestätigt am</td>
				<td>{{ selectedTraining.checkedDate | formatDateTime }}</td>
			</tr>
			<tr>
				<td>Notizen</td>
				<td>
					<div>
						<textarea ng-if="!editableTraining" class="form-control" rows="3" 
							style="background: white;" disabled>{{ selectedTraining.notes }}</textarea>
						<textarea ng-if="editableTraining" class="form-control" rows="3" 
							ng-model="editableTraining.notes"></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td ng-if="!editableTraining" colspan="2" style="background: white;">
					<div class="trainer-icon"
						ng-repeat="heldby in selectedTraining.heldbytrainer">
						<div>{{ heldby.role }}</div>
						<div>
							<img width="70px" height="70px" style="border-radius: 5px"  
								src="data/trainerIcons/{{ heldby.trainer | replaceNonAlnum }}.jpg" 
								onerror="this.src='img/person.png';">
						</div>
						<div>{{ heldby.trainer | resolveTrainer }}</div>
					</div>
				</td>
				<td ng-if="editableTraining" colspan="2" style="background: white;">
					<div class="trainer-icon"
						ng-repeat="heldby in editableTraining.heldbytrainer">
						<div>
							<div style="padding-right: 28px; display: inline-block;">
								<select class="form-control" ng-model="heldby.role" style="margin-bottom: 4px;" 
									ng-options="trainerRole for trainerRole in trainerRoles">
								</select>
							</div>
							<button class="btn btn-danger btn-sm" title="Trainer entfernen"
								style="margin-left: -28px"
								ng-click="removeTrainer(heldby)"><i class="fa fa-close"></i></button>
						</div>
						<div>
							<img width="70px" height="70px" style="border-radius: 5px"  
								src="data/trainerIcons/{{ heldby.trainer | replaceNonAlnum }}.jpg" 
								onerror="this.src='img/person.png';">
						</div>
						<div>
							<select class="form-control" ng-model="heldby.trainer" style="margin-top: 4px; width: 100%;"
								ng-options="trainerId | resolveTrainer for trainerId in allTrainerIds">
							</select>
						</div>
					</div>
					<div class="trainer-add" ng-click="addTrainer()">
						<div><i class="fa fa-plus-circle"></i></div>
						<p>Klicken für weiteren Trainer<p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="editableTraining || mayReopen" class="training-save-area">
	<div class="btn-group" ng-if="editableTraining">
		<button ng-click="confirmTraining()" class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Training hat stattgefunden</button>
		<button ng-click="cancelTraining()" class="btn btn-danger"><i class="fa fa-times-circle-o"></i> Training wurde abgesagt</button>
	</div>
	<button ng-click="reopenTraining()" ng-if="mayReopen" class="btn btn-warning"><i class="fa fa-exclamation-circle"></i> Training nochmal bearbeiten</button>
</div>
