<div class="trainingslist-selector">
	<table class="table table-striped">
		<tbody>
			<tr ng-repeat="training in trainings | orderBy:'sortKey'"
				ng-click="setSelectedTraining(training)"
				ng-style="selectedTraining === training ? {'background-color': '#D0E0FF'} : {}" >
				<td>{{ training.dayofweek | shortDayOfWeek }}, 
				    {{ training.date | formatDate }}</td>
				<td>{{ training.timestart }}</td>
				<td>{{ training.name }}</td>
				<td><i class="fa state-icon" ng-class="training.state | stateIconName" 
						title="{{ training.state | stateShortDescription }}"></i></td>
			</tr>
		</tbody>
	</table>
</div>