<div class="trainingslist-selector">
	<table class="table table-striped">
		<tbody>
			<tr
				ng-style="trainingSelector.getSelectedTraining().training.id === trainingForTable.training.id ? {'background-color': '#D0E0FF'} : {}"
				ng-init="trainingSelector.setData(trainingslistModel.getTrainingslist())"
				ng-click="trainingSelector.setSelectedTraining(trainingForTable)"
				ng-repeat="trainingForTable in trainingslistModel.getTrainingslist()">
				<td>{{helpers.dayOfWeekShort(trainingForTable.trainingdate.dayofweek)}}, 
				    {{helpers.formatDateGerman(trainingForTable.training.date)}}</td>
				<td>{{trainingForTable.trainingdate.timestart}}</td>
				<td>{{trainingForTable.trainingdate.name}}</td>
				<td><img src="img/{{ helpers.stateImageName (trainingForTable.training.state) }}"></td>
			</tr>
		</tbody>
	</table>
</div>