<div class="container" ng-controller="trainingsListCtrl">

	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group">
				<button class="btn"
					ng-click="saveTrainingsList()">
					<img width="32px" height="32px"
						src="img/save.png">
						Save
				</button>
				<button class="btn" ng-disabled="dep == selectedDepartment"
					ng-class="dep == selectedDepartment ? 'btn-primary' : 'btn-info'"
					ng-repeat="dep in availableDepartments | orderBy"
					ng-click="loadTrainingsList(dep)">
					<img width="32px" height="32px"
						src="img/Department_Budo-Club%20Ismaning_{{dep}}.png"> 
					{{dep}}
				</button>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px">
		<div class="col-xs-12 col-sm-4">
			<ng-include src="'html/trainingslist-selection-table.html'"></ng-include>
		</div>
		<div class="col-xs-12 col-sm-8">
			<ng-include src="'html/trainingslist-training-area.html'"></ng-include>
		</div>
	</div>
</div>
