<div class="trainingslist-selector">
	<table class="table table-striped">
		<tbody>
			<tr ng-repeat="training in trainings | orderBy:'sortKey'"
				ng-click="setSelectedTraining(training)"
				ng-style="selectedTraining === training ? {'background-color': '#D0E0FF'} : {}" >
				<td>{{ training.trainingdate.dayofweek | shortDayOfWeek }}, 
				    {{ training.training.date | formatDate }}</td>
				<td>{{ training.trainingdate.timestart }}</td>
				<td>{{ training.trainingdate.name }}</td>
				<td><img src="img/{{ training.training.state | stateImageName }}"></td>
			</tr>
		</tbody>
	</table>
</div>